.product {
    display: flex;
    flex-direction: column;
    border: 1px solid var(--tg-theme-button-color);
    padding: 15px;
    width: 170px;
}

.img {
    width: 100%;
    background: lightgray;
    height: 100px;
    margin: 0 auto 6px;
    background: var(--tg-theme-button-color);
}

.description {
    font-size: 0.8em;
    margin-bottom: 6px;
    color: var(--tg-theme-text-color);
}

.title {
    font-size: 0.8em;
    margin-bottom: 6px;
    color: var(--tg-theme-text-color);
}

.add-btn {
    font-size: 0.8em;
    width: 100%;
}
