.product {
    display: flex;
    flex-direction: column;
    border: 1px solid rgb(248, 168, 24);
    padding: 15px;
    width: 170px;

}

.scale {
    width: 100%;
    margin: 0 auto 6px;

}

.description1 {
    margin-bottom: 10px;
    font-weight: 550;
    font-size: 15px;
    color: #1a1a1a;
    margin-left: 1px;
}

.title1 {
    margin-bottom: 6px;
    margin-top: 6px;
    font-weight: 550;
    font-size: 15px;
    color: #1a1a1a;
    margin-left: 1px;

}

.add-btn {
    display: inline-block;
    padding: 10px 26px 10px 17px;
    border: none;
    background: rgb(248, 168, 24);
    border-radius: 0px;
    color: #fff;
    text-transform: uppercase;
    font-weight: 700;
    transition: background .2s linear;
    cursor: pointer;
}


.add-btn:hover {
    background: rgb(255, 205, 106);
}

.icons {
    display: flex;
    margin-left: 1px;
}

.icon1 {
    height: 21px;
    margin: 0 15px 0 0;

}
.icon2 {
    height: 20px;
    margin: 0 15px 0 0;

}

.icon {
    height: 18px;
    margin: 0 15px 0 0;

}

.block {
    display: flex;
    flex-direction: column;
    padding: 20px;
    font-size: 14px;
}

.innerP {
    padding-left: 10px;
    line-height: 1.6;
    font-family: Arial;
    padding-bottom: 2px;

}

.bondP {
    font-weight: 600;
    font-family: Arial;
    line-height: 1.6;
    padding-bottom: 2px;

}